@model WebAppForYouTubeDemo.Models.Product

@{
    ViewBag.Title = "Display";
}

<h2>Display</h2>

Name:
@Html.DisplayFor(m => m.Name)
<br />
Brand:
@Html.DisplayFor(m => m.Brand)
<br />
Price:
@Html.DisplayFor(m => m.Price)

